@model IEnumerable<btl.Models.ChiTietHoaDon>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Chi tiết phiếu</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.hinh_anh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ten_sp)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.so_luong)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.don_gia_sp_hien_thoi)
                        </th>
                        <th>
                            Thao Tác
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img src="@Html.DisplayFor(modelItem => item.hinh_anh)" width="80" height="80" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ten_sp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.so_luong)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.don_gia_sp_hien_thoi)
                            </td>
                            <td style="display: flex; justify-content: space-evenly">
                                <a asp-action="Edit" asp-route-id="@item.so_hd" class="btn btn-info btn-circle">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                                <form method="post" asp-action="DeletePPT" asp-controller="PhieuPhuThu"
                                asp-route-SO_PPT="@item.so_hd" asp-route-MA_DV="@item.ma_sp"
                                asp-route-MA_NV="@item.ma_nv" asp-route-MA_CN="@item.ma_chi_nhanh">
                                    <input type="submit" value="X" class="btn btn-danger btn-circle" />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
        </div>
    </div>
</div>